.container {
  max-width: 1024px;
  margin: 0 auto;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

.update {
  text-decoration: line-through;
}

.task-form {
  display: flex;
  flex-direction: column;
}

.task-input {
  height: 40px;
  padding-left: 10px;
  margin: 15px 0;
  border-radius: 5px;
}

.task-button {
  height: 40px;
  width: 250px;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
}
